.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #000;
  background-color: #f2f2f2;
}

                                  /* section  header*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}

.logo {
  width: 228px;
  height: 32px;
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0 auto 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  margin: 0 0;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color:  #2f80ed;
  top: 64px;
  position: absolute;
  right: 0;
}

.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}
                                  /* section description*/

.description {
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-colums__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  min-width: 784px;
  width: 80%;
}

.two-columns__paragraph {
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px auto;
}

.two-columns__span-accent {
  font-weight: 600;
}

                                  /* section digits*/

.digits {
  margin: 100px auto 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto 20px;
}

.section-subtitle {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  list-style-type: none;
}

.table__cell {
  margin: 60px 0 0;
  width: 250px;
}

.table__heading {
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0 auto;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text:nth-child(3) {
  margin-top: 20px;
}
                                  /* section feynman*/

.feynman {
  background-color: #f2f2f2;
  position: relative;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  margin: 100px auto 70px;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
  text-align: center;
}

.feynman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  right: 40px;
  top: 50%;
  color: #2f80ed;
}

.feynman__main-illustration {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

                                  /* section kaufman*/

.kaufman {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.table_theme_dark {
  margin-bottom: 90px;
}
.section-title_theme_dark {
  color: white;
  margin: 90px auto 20px;
}

.section-subtitle_theme_dark {
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin: 80px auto 0px;
  z-index: 1;
}

.kaufman__triangle {
  position: absolute;
  height: 877px;
  width: 877px;
  right: -210px;
  background-image: url(/images/kaufman-triangle.svg);
  background-size:100% 100%;
}

                                  /* footer*/

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
  color: #f2f2f2;
}

.footer__columns {
  margin: 60px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 auto;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 20px auto 16px;
  display: flex;
  flex-direction: column;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__column-link {
  color: #f2f2f2;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
